<div class="card">
    <div class="card-header ch-alt">
        <h2><i class="md md-home"></i></h2>
    </div>

    <div class="card-body card-padding">


        <div class="form-group fg-float">
            <div class="fg-line">
                <input data-id="username" type="email" class="form-control">
            </div>
            <label class="fg-label">Email</label>
        </div>

        <div class="form-group fg-float">
            <div class="fg-line">
                <input data-id="password" type="password" class="form-control">
            </div>
            <label class="fg-label">Пароль</label>
        </div>

        <button data-id="submit" class="btn btn-info">Войти</button>
    </div>
</div>

<!--<div class="dialog">-->
<!--<div class="block">-->
<!--<p class="block-heading">Uproom — Умный дом в облаке</p>-->
<!---->
<!--<div class="block-body">-->
<!--<form>-->
<!--<label>E-mail</label>-->
<!--<input data-id="username" type="text" class="span12">-->
<!--<label>Пароль</label>-->
<!--<input data-id="password" type="password" class="span12">-->
<!--<a data-id="submit" href="index.html" class="btn btn-primary pull-right">Войти</a>-->
<!--&lt;!&ndash; <label class="remember-me"><input type="checkbox"> Запомнить меня</label> &ndash;&gt;-->
<!--<div class="clearfix"></div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->

<!--<p class="pull-right" style=""><a href="reset-password.html">Забыли пароль?</a></p>-->
<!--<p><a href="sign-up.html" target="blank">Зарегистрироваться</a></p>-->
<!--<p id="error-msg" style="display: none; color: red">Сообщение об ошибке</p>-->
<!--</div>-->
