<div class="card">
    <div class="card-header ch-alt">
        <h2><i class="md md-home"></i></h2>
    </div>

    <div class="card-body card-padding">


        <div class="form-group fg-float">
            <div class="fg-line">
                <input data-id="username" type="email" class="form-control">
            </div>
            <label class="fg-label">Email</label>
        </div>

        <div class="form-group fg-float">
            <div class="fg-line">
                <input data-id="password" type="password" class="form-control">
            </div>
            <label class="fg-label">Пароль</label>
        </div>

        <button data-id="submit" class="btn btn-info">Войти</button>
    </div>
</div>