<div class="card">
    <div class="listview lv-bordered lv-lg">
        <div class="lv-header-alt">
            <h2 class="lvh-label">Приборы</h2>

            <ul class="lv-actions actions">
                <li class="dropdown">
                    <a href="" data-toggle="dropdown" aria-expanded="true">
                        <i class="md md-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="">Refresh</a>
                        </li>
                        <li>
                            <a href="">Listview Settings</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div data-id="list-container" class="lv-body">

        </div>
    </div>
</div>