
    <!--                     <div class="block-header">
                            <h2>Приборы</h2>
                        </div>
     -->
    <div class="card">
        <div class="listview lv-bordered lv-lg">
            <div class="lv-header-alt">
                <h2 class="lvh-label">Приборы</h2>

                <ul class="lv-actions actions">
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown" aria-expanded="true">
                            <i class="md md-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Listview Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div data-id="list-container" class="lv-body">

                <!--
                <div class="lv-item media">
                    <div class="checkbox pull-left">
                        <label>

                            <input type="checkbox" value="">
                            <i class="input-helper"></i>

                        </label>
                    </div>
                    <div class="media-body">
                        <div class="lv-title">Lamp</div>

                        <div class="lv-actions actions dropdown">
                            <a href="" data-toggle="dropdown" aria-expanded="true">
                                <i class="md md-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Edit</a>
                                </li>
                                <li>
                                    <a href="">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="lv-item media">
                    <div class="checkbox pull-left">
                        <label>

                            <input type="checkbox" value="">
                            <i class="input-helper"></i>

                        </label>
                    </div>
                    <div class="media-body">
                        <div class="lv-title">Lamp2</div>

                        <div class="lv-actions actions dropdown">
                            <a href="" data-toggle="dropdown" aria-expanded="true">
                                <i class="md md-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Edit</a>
                                </li>
                                <li>
                                    <a href="">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>


    </div>

<!--<div class="header"><h1 class="page-title">Элетроприборы в доме</h1></div>-->

<!--<ul class="breadcrumb">-->
    <!--<li><a href="index.html">Главная</a> <span class="divider">/</span></li>-->
    <!--<li class="active">Приборы</li>-->
<!--</ul>-->

<!--<div class="container-fluid">-->
    <!--<div class="row-fluid">-->

        <!--<div class="block span8">-->
            <!--<a href="#tablewidget" class="block-heading" data-toggle="collapse">Кухня</a>-->

            <!--<div id="tablewidget" class="block-body">-->
                <!--<table class="table">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--{{#if sceneSelect }}-->
                        <!--<th>Выбрать</th>-->
                        <!--{{/if}}-->
                        <!--<th>Название</th>-->
                        <!--<th>Состояние</th>-->
                    <!--</tr>-->
                    <!--</thead>-->

                    <!--<tbody data-id="list-container"></tbody>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="btn-toolbar">-->
        <!--<button id="add-device-btn" class="btn btn-primary"><i class="icon-plus"></i> Добавить устройство</button>-->
    <!--</div>-->

    <!--{{#if sceneSelect }}-->
    <!--<div class="btn-toolbar">-->
        <!--<button id="add-scene-finish-btn" class="btn btn-primary"><i class="icon-plus"></i> Добавить сцену</button>-->
    <!--</div>-->
    <!--{{/if}}-->

    <!--<footer>-->
        <!--<hr>-->
        <!--<p>&copy; 2014 <a href="http://www.freshcube.ru" target="_blank">Freshcube</a></p>-->
    <!--</footer>-->
<!--</div>-->
    