<td>
    <a href="#" id="devicename{{ id }}" data-id="deviceName" data-type="text">{{ name }}</a>
    <span>({{ zid }})</span>
</td>
<td>
    <div class="row-fluid">
        <div class="block u-block span2">
            <input data-on-label="I" data-off-label="O" class="bootstrap-switch-mini"
                   id="switch{{ id }}" data-id="switchCheck" type="checkbox" {{ state }}>
        </div>

        <div class="block u-block span9">
            <input id="slider{{ id }}" data-id="level" data-slider-id='slider' type="text" data-slider-min="0"
                   data-slider-max="100" data-slider-step="1" data-slider-value="{{ value }}"/>
        </div>
    </div>

</td>