<div class="header"><h1 class="page-title">Элетроприборы в доме</h1></div>

<ul class="breadcrumb">
    <li><a href="index.html">Главная</a> <span class="divider">/</span></li>
    <li class="active">Сцены</li>
</ul>

<div class="container-fluid">
    <div class="row-fluid">

        <div class="block span8">
            <a href="#tablewidget" class="block-heading" data-toggle="collapse">Сцены</a>

            <div id="tablewidget" class="block-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Применить</th>
                        <th>Название</th>
                        <th>Удалить</th>
                    </tr>
                    </thead>
                    <tbody data-id="list-container"></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="btn-toolbar">
        <button id="add-scene-btn" class="btn btn-primary"><i class="icon-plus"></i> Добавить сцену</button>
    </div>

    <footer>
        <hr>
        <p>&copy; 2014 <a href="http://www.freshcube.ru" target="_blank">Freshcube</a></p>
    </footer>
</div>
    