<div class="card">

    <div class="listview lv-bordered lv-lg">
        <div class="lv-header-alt">
            <h2 class="lvh-label">Сцены</h2>
            <!--
                                    <button class="pull-right btn bgm-cyan waves-effect waves-effect waves-button waves-float">
                                        <i class="md md-add"></i> Новая
                                    </button>
            -->
        </div>

        <button onclick="window.location.href='new-scene.html';" accesskey=""style="z-index: 999; top: 32px; right: 24px;" class="btn btn-float bgm-cyan waves-effect waves-effect waves-button waves-float">
            <i class="md md-add"></i>
        </button>


        <div class="lv-body" data-id="list-container">


        </div>
        <!-- lv body ends -->
    </div>


</div>

<!--
<div class="header"><h1 class="page-title">Элетроприборы в доме</h1></div>

<ul class="breadcrumb">
    <li><a href="index.html">Главная</a> <span class="divider">/</span></li>
    <li class="active">Сцены</li>
</ul>

<div class="container-fluid">
    <div class="row-fluid">

        <div class="block span8">
            <a href="#tablewidget" class="block-heading" data-toggle="collapse">Сцены</a>

            <div id="tablewidget" class="block-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Применить</th>
                        <th>Название</th>
                        <th>Удалить</th>
                    </tr>
                    </thead>
                    <tbody data-id="list-container"></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="btn-toolbar">
        <button id="add-scene-btn" class="btn btn-primary"><i class="icon-plus"></i> Добавить сцену</button>
    </div>

</div>

            -->
