<!-- <a href="devices.html" class="nav-header"><i class="icon-question-sign"></i>Приборы</a> -->
<div class="sidebar-inner">
    <div class="si-inner">

        <ul class="main-menu">
            <li><a href="index.html"><i class="md md-home"></i> Центр</a></li>
            <li><a href="index.html"><i class="md md-home"></i> Устройства</a></li>
            <li class="sub-menu">
                <a href=""><i class="md md-my-library-books"></i> Сцены</a>

                <ul>
                    <li><a href="form-elements.html">Все</a></li>
                    <li><a href="form-components.html">Создать сцену</a></li>
                </ul>
            </li>


        </ul>
    </div>
</div>

<!--
<span id="nav-devices" class="nav-header">
    <i class="icon-off"></i>
    Приборы
</span>

<span id="nav-scenes" class="nav-header" data-toggle="collapse">
    <i class="icon-facetime-video"></i>Сцены
    <i class="icon-caret-down pull-right"></i>
</span>

<span id="nav-video" class="nav-header" data-toggle="collapse">
    <i class="icon-facetime-video"></i>Видео
    <i class="icon-caret-down pull-right"></i>
</span>

<ul id="video-menu" class="nav nav-list collapse">
    <li><a href="video.html">Камеры</a></li>
    <li><a href="video-add.html">Добавить камеру</a></li>
</ul>
       -->