<script type="text/javascript">
    VeedoPlayer.init('VeedoPlayer', '00306F84BC18', {'width': 800, 'height': 600, 'controls': false, 'autoPlay': true});
    <!-- VeedoPlayer.play(); -->
</script>
<div id="VeedoPlayer" style="width: 800px; height: 600px;">
    <object width="100%" height="100%" id="VeedoPlayer_api" name="VeedoPlayer_api"
            data="http://account.veedo.ru/template/account/js/flowplayer/flowplayer-3.2.16.swf"
            type="application/x-shockwave-flash">
        <param name="allowfullscreen" value="true">
        <param name="allowscriptaccess" value="always">
        <param name="quality" value="high">
        <param name="bgcolor" value="#000000">
        <param name="flashvars"
               value="config={&quot;buffering&quot;:true,&quot;plugins&quot;:{&quot;rtmp&quot;:{&quot;url&quot;:&quot;http://account.veedo.ru/template/account/js/flowplayer/flowplayer.rtmp-3.2.12.swf&quot;,&quot;netConnectionUrl&quot;:&quot;rtmp://91.232.134.227/rtp-live/&quot;},&quot;controls&quot;:null},&quot;clip&quot;:{&quot;autoPlay&quot;:true,&quot;autoBuffering&quot;:false,&quot;url&quot;:&quot;mp4:camera_00306F84BC18_code&quot;,&quot;scaling&quot;:&quot;fit&quot;,&quot;provider&quot;:&quot;rtmp&quot;},&quot;playerId&quot;:&quot;VeedoPlayer&quot;,&quot;playlist&quot;:[{&quot;autoPlay&quot;:true,&quot;autoBuffering&quot;:false,&quot;url&quot;:&quot;mp4:camera_00306F84BC18_code&quot;,&quot;scaling&quot;:&quot;fit&quot;,&quot;provider&quot;:&quot;rtmp&quot;}]}">
        <param name="wmode" value="opaque">
    </object>
</div>
