<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
    <i class="icon-user"></i> <span data-id="name">Иван Иванович</span>
    <i class="icon-caret-down"></i>
</a>

<ul data-id="dropdown" class="dropdown-menu">
    <li><a tabindex="-1" href="#">Мой профиль</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" class="visible-phone" href="#">Настройки</a></li>
    <li class="divider visible-phone"></li>
    <li><a data-id="signout" tabindex="-1" href="sign-in.html">Выйти</a></li>
</ul>