<div class="dialog">
    <div class="block">
        <p class="block-heading">Uproom — Умный дом в облаке</p>
        
        <div class="block-body">
            <form>
                <label>E-mail</label>
                <input data-id="username" type="text" class="span12">
                <label>Пароль</label>
                <input data-id="password" type="password" class="span12">
                <a data-id="submit" href="index.html" class="btn btn-primary pull-right">Войти</a>
                <!-- <label class="remember-me"><input type="checkbox"> Запомнить меня</label> -->
                <div class="clearfix"></div>
            </form>
        </div>
    </div>

    <p class="pull-right" style=""><a href="reset-password.html">Забыли пароль?</a></p>
    <p><a href="sign-up.html" target="blank">Зарегистрироваться</a></p>
</div>
